<div class="krug">

</div>

<div class="krug2">

</div>

<div class="krug3">

</div>




<div class="roditelj1">


   
<div class="slika">
    <img src="../../assets/images/booking2.jpg" alt="slika_kese" class="slika">
</div>




<div class="forma">

    <h1 class="order">BOOKING.</h1> 


<input type="text" class="polje  p1" placeholder="Upišite ime...">

<input type="text" class="polje  p2" placeholder="Upišite prezime...">

<input type="text" class="polje  p3" placeholder="Upišite svoju mejl adresu...">

<textarea class="polje  p4" placeholder="  Upišite dodatne zahteve..."></textarea>

</div>


<div class="kviz" >
    IZABERITE:<br>
    <input type="radio" name="meni" value="kafa">
    ZIMA 2024.<br>
    <input type="radio" name="meni" value="ice-kafa" >
    LETO 2024.<br>
    <input type="radio" name="meni" value="ovsena">
    EVROPA - JESEN.<br>
    <input type="radio" name="meni" value="dorucak" >
    DALEKE DESTINACIJE<br>
    <input type="radio" name="meni" value="caj" >
    AMERIKA
    <br>
    <br>
    ZIMA:<br>
    <input type="checkbox" name="kafe">
    KOPAONIK 2024.<br>
    <input type="checkbox" name="kafe">
    AUSTRIJA 2024 - ST OSVALD.<br>
    <input type="checkbox" name="kafe">
    AUSTRIJA 2024 - WELNESS & SPA.<br>
    <input type="checkbox" name="kafe">
    BOSNA I HERCEGOVINA - JAHORINA
    <br>
    LETO 2024:
    <br>
    
    <input type="checkbox" name="kafe">
    GRCKA - Santorini.<br>
    <input type="checkbox" name="kafe">
    SPANIJA - Palma De Mallorca.<br>
    <input type="checkbox" name="kafe">
    EGIPAT - Hurgada.<br>
    <input type="checkbox" name="kafe">
    Italija - Sicilija.
    <br>
    <br>
    EVROPA - JESEN:<br>
    <input type="checkbox" name="kasa">
    Prag.<br>
    <input type="checkbox" name="kasa">
    Berlin.<br>
    <input type="checkbox" name="kasa">
    Temišvar.<br>
    <input type="checkbox" name="kasa">
    Rim.
    <br>
    <br>
    NACIN PLACANJA:<br>
    <select id="placanje">
    <option>KES.</option>
    <option>DREAM HOLIDAYS. TOKENS.</option>
    <optgroup label="KARTICA.">
    <option>VISA CARD.</option>
    <OPTION>MASTER CARD.</OPTION>
    </optgroup>
    
    </select>
    
    </div>




</div>



<div class="roditelj2">
<div class="dugme">
    <button type="submit" id="dugme_submit" class="dugme_submit">SUBMIT.</button>
    </div>

</div>

