<div class="krug">
        
</div>



<h1 id="logo">DREAM HOLIDAYS.</h1>



<header class="heder">

<div>
<nav class="klas_nav">
    <ul class="nav_links">
        <li><a routerLink="/home"> Pocetna </a></li>
        <li><a >Aranžmani</a></li>
        <li><a >Bookiranje</a></li>
        <li><a>Promocija avio karata </a></li>
        
 
    </ul>
    



</nav>


</div>



<input type="button" class="dugme" value="NOVO!"  id="dugme1" > 
</header>






<div class="sadrzaj">


<div class="textBox">

<h2 id="naslov2">Vaš izbor za savršen odmor je <span id="logo1">DREAM HOLIDAYS</span></h2>
<div>
<p id="par">
    
    
    Zima je na pragu, a mi već započinjemo pripreme za nezaboravan odmor! 
    Iskoristite FIRST MINUTE popuste zimskih aranžmana za 2024. i spremite se za 
    najuzbudljivije iskustvo na planinama. Uživajte u neograničenom skijanju na vrhunskim stazama, luksuznom smeštaju 
    i brojnim dodatnim pogodnostima.
    
  <br>
  U meniju dole se nalaze naši najnoviji aranžmani!
</p>
</div>



</div>


<div  class="slika1">

<img class="planina"> <!-- Primer za string interpolation!!!-->


</div>


</div>




    <ul class="galerija">


      

    <li > <img  id="s1" src="../../assets/images/planina1.jpg"  ></li>
    <li ><img  id="s2" src="../../assets/images/planina2.jpg"   ></li>                                              
    <li ><img  id="s3" src="../../assets/images/skijas.jpg"  ></li>
    
       

    </ul>
