<div class="krug">
        
</div>
 
<div class="aviokarte">
    <div *ngFor="let aviokarte of pagedAviokarteList">
        <p class="title">{{aviokarte.title |uppercase}}</p>
        <p class="description"> {{aviokarte.description}}</p>
      
        <img [src]="aviokarte.image" alt="Deskripcija umesto slike">
       
        <p class="price">CENA: {{aviokarte.price}}</p>
        <p class="supplies">PREOSTALA KOLIČINA: {{aviokarte.supplies}}</p>
        <button (click)="bukirajButton(aviokarte)"
        > <b>BOOKIRAJ</b></button>
        <button (click)="opozoviButton(aviokarte)"
        ><b>OPOZOVI</b></button>
    </div>
   
    <div><button (click)="ukupno()"[ngStyle]="{ 'background-color': buttonColor }" >UKUPNO.{{ukupnaKupovina}}</button></div>

</div>
